<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/style.css"/>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>FlaskFlights</title>
</head>
<body>
    <nav>
		<h1 class = "navigator-header">FlaskFlights</h2>
		<div class = "login">
		<a class = "login" href="/">HOME</a>
		</div>
	</nav>
    <main>
        <div class = "input-form-elements">
            <h2>Input new airport information: </h2>

            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}

            <form action="/newAirport" method="POST">
                <input type="text" minlength="3" maxlength="3" name="code" placeholder="Code (e.g. JFK)" required/></br>
                <input type="text" name="name" placeholder="Name of Airport" required/></br>
                <input type="text" name="city" placeholder="City" required/></br>
                <input type="text" name="country" placeholder="Country" required/></br>
                <input type="number" name="terminals" placeholder="Number of Terminals" required/></br>
                <label for="type">Type of Airport:</label>
                <select id="type" name="type" required>
                    <option></option>
                    <option value="international">International</option>
                    <option value="domestic">Domestic</option>
                    <option value="both">Both</option>
                </select></br>
                <input type="submit" value = "Add Airport"/></br></br>
            </form>
        </div>
    </main>      
</body>