<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/style.css"/>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>FlaskFlights</title>
</head>
<body>
    <nav>
		<h1 class = "navigator-header">FlaskFlights</h2>
		<div class = "login">
		<a class = "login" href="/">HOME</a>
		</div>
	</nav>
    <main>
        <div class = "input-form">
            <h2>Input new flight information for {{airline}}</h2>
            <div class = "input-form-elements">
                <form action="/confirmAddFlight" method="POST" >
                    <label for="departureAirport">Departure aiport:</label>
                    <select id="departureAirport" name="departureAirport" required>
                        {% for airport in airports %}
                            <option value="{{airport['code']}}">{{airport['code']}}</option>
                        {% endfor %}
                    </select></br>

                    <label for="departure_date_time">Departure Date:</label>
                    <input type="datetime-local" id="departure_date_time" name="departure_date_time" required></br>

                    <label for="arrivalAirport">Arrival aiport:</label>
                    <select id="arrivalAirport" name="arrivalAirport" required>
                        {% for airport in airports %}
                            <option value="{{airport['code']}}">{{airport['code']}}</option>
                        {% endfor %}
                    </select></br>
                    
                    <label for="arrival_date_time">Arrival Date:</label>
                    <input type="datetime-local" id="arrival_date_time" name="arrival_date_time" required></br>

                    <label for="airplane_id">Airplane ID:</label>
                    <input type="number" inputmode="numeric" id="airplane_id" name="airplane_id" required></br>

                    <label for="base_price">Base Price:</label>
                    <input type="number" inputmode="numeric" id="base_price" name="base_price" step="any" required></br>

                    <input type="submit" value = "Add Flight" /></br></br>
                </form>
            </div>   
        </div>       
    </main>
</body>