<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/style.css"/>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>FlaskFlights</title>
</head>
<body>
    <h2>Earned Revenue for {{airline}}</h2>
    <a href="/">Home</a>
    <div class = "input-form">
        <table>
            <th>Last Month's Revenue</th>
            <th>Last Year's Revenue</th>
                <tr>
                    <td>{{monthly}}</td>
                    <td>{{yearly}}</td>
                </tr>
        </table>
    </div>       

</body>