<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/style.css"/>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>FlaskFlights</title>

</head>
<body>
	<nav>
		<h1 class = "navigator-header">FlaskFlights</h2>
		{% if admin %}
			<img src="static/imgs/{{admin}}.png" class = "airline-logo">
		{% endif %}
		<div class = "login">
		{% if not username %}
			<a class = "login" href="/login">LOGIN</a>
			<a class = "login" href="/register">REGISTER</a>
		{% endif %}
		{% if username %}
			<a class = "login" href="/logout">LOGOUT</a>
		{% endif %}
		</div>
	</nav>
	<main>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}

		{% if username %}
		<div class = "welcome-bar">Welcome, {{username}}!</div>
		
		{% if admin %}
		<div class = "search-results">
			<h2>Admin Dashboard</h1>
			<a class = "login" href="/addAirplane">ADD AIRPLANE</a>
			<a class = "login" href="/addFlight">ADD FLIGHT</a>
			<a class = "login" href="/addAirport">ADD AIRPORT</a>
			<a class = "login" href="/maintenance"> MAINTENANCE</a>
			<a class = "login" href="/earnedRevenue"> VIEW EARNED REVENUE</a>
			<a class = "login" href="/autoPopulate"> POPULATE TEST FLIGHTS</a>
		</div>
		{% elif username %}
		<div class = "search-results">
			<h2>Customer Dashboard</h2>
			<a class = "login" href="/trackSpending">TRACK MY SPENDING</a>
		</div>
		{% endif %}
		
		<div class = "search-results">
			{% if admin %}
			<h2>Future Airline Flights</h2>
		
			{% elif username %}
				 <h2>My Future Flights</h2>
			{% endif %}

			<form action="/changeFutureFlightPage" method="POST">
				<span style="display:flex; float:left; vertical-align: text-bottom; line-height: 10%;">
					<p><strong>Page </strong></p>
					<input type = "number" value = {{futureFlightPage}} name = "futureFlightPage">
					<p><strong> of </strong></p>
					<input type = "number" value = {{futureFlightPageNum}} name = "futureFlightPages" readonly = true>
					<input type = "submit" value = refresh >
				</span>
			</form>

			<table>
				<th>Airline Name</th>
				<th>Flight Number</th>
				<th>From</th>
				<th>To</th>
				<th>Departure Time</th>
				<th>Arrival Time</th>
				<th>Status</th>
				<th>Action</th>
			
			{% for flight in myFutureFlights %}
				<tr>
					<td>{{flight['name']}}</td>
					<td>{{flight['num']}}</td>
					<td>{{flight['departureAirport']}}</td>
					<td>{{flight['arrivalAirport']}}</td>
					<td>{{flight['depTime']}}</td>
					<td>{{flight['arrTime']}}</td>
					<td>{{flight['status']}}</td>
					<td>
						{% if admin %}
							<form action="/changeStatus" method="POST">
								<input name="num" type="hidden" value="{{flight['num']}}"></input>
								<input name="departure" type="hidden" value="{{flight['depTime']}}"></input>
								<select id="status" name="status">
									<option></option>
									<option value="Delayed">Delayed</option>
									<option value="On-Time">On-Time</option>
									<option value="Canceled">Canceled</option>
								</select>
								<input type="submit" value = "Change Status"/>
							</form>
						{% elif username %}
							<form action="/deleteTicket" method="POST">
								<p class = "center-aligned-button"><button type="submit" name = "ticket_id" value = "{{flight['ticket_id']}}">Cancel</button></p>
							</form>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
		{% endif %}
		<div class = "flight-search">
			{% if not admin %}
				<h2>Book your flight today!</h2>
			{% else %}
				<h2>Search for a flight!</h2>
			{% endif %}
			<style type="text/css">
				table, th, td{
					border: 1px solid black;
				}
			</style>
			
			<form action="/lookUpFlight" method="POST">
				<div class = "flight-search-fields">
					<div class = "flight-search-fields-left">
						<p>Departure Airport</p>
						<p><input maxlength="255" name="departureAirport" placeholder="Departure Airport" size="30" type="search" required></p>
						<p>Departure Date</p>
						<p><input maxlength="255" name="departureDate" placeholder="Departure Date" size="30" type="date" required></p>
					</div>
					<div class = "flight-search-fields-right">
						<p>Arrival Airport</p>
						<p><input maxlength="255" name="arrivalAirport" placeholder="Arrival Airport" size="30" type="search" required></p>
						{% if not admin %}
							<p>Return Date</p>
							<p><input maxlength="255" name="returnDate" placeholder="Return Date" size="30" type="date"></p>
						{% endif %}
					</div>

				</div>
				
				<p class = "padded-button"><input type="submit" value="Search Flights"></p>
				
				
			</form>
			
			
		</div>

		{% if flights %}
		<div class = "search-results">
			<table>
				<th>Airline Name</th>
				<th>Flight Number</th>
				<th>Departure Time</th>
				<th>Arrival Time</th>
				<th>Starting Price</th>
				<th>Status</th>
				{% if username %}
					{% if not admin %}
						<th>Action</th>
					{% elif admin %}
						<th>Customers</th>
					{% endif %}
				{% endif %}
			
			{% for flight in flights %}
				<tr>
					<td>{{flight['name']}}</td>
					<td>{{flight['num']}}</td>
					<td>{{flight['depTime']}}</td>
					<td>{{flight['arrTime']}}</td>
					<td>{{flight['base_price']}}</td>
					<td>{{flight['status']}}</td>
					{% if username %}
						{% if not admin %}
							<td>
								<form action="/selectTicket" method="POST">
									<p class = "center-aligned-button"><button type="submit" name = "flight_num" value = "{{flight['num']}}_{{flight['name']}}_{{flight['depTime']}}">Select</button></p>
								</form>
							</td>
						{% elif admin %}
							<td>
								<form action="/seeCustomers" method="POST">
									<input name="depTime" type="hidden" value="{{flight['depTime']}}"></input>
									<p class = "center-aligned-button"><button type="submit" name = "flight_num" value = "{{flight['num']}}">See Customers</button></p>
								</form>
							</td>
						{% endif %}
					{% endif %}
				</tr>
			{% endfor %}
			</table>
		</div>
		{% endif %}

		{% if username %}
		<div class = "search-results">
			{% if admin %}
				<h2>Past Airline Flights</h2>
			{% elif username %}
				<h2>My Past Flights</h2>
			{% endif %}
			<form action="/changePastFlightPage" method="POST">
				<span style="display:flex; float:left; vertical-align: text-bottom; line-height: 10%;">
					<p><strong>Page </strong></p>
					<input type = "number" value = {{pastFlightPage}} name = "pastFlightPage">
					<p><strong> of </strong></p>
					<input type = "number" value = {{pastFlightPageNum}} name = "pastFlightPages" readonly = true>
					<input type = "submit" value = refresh >
				</span>
			</form>
			<table>
				<th>Airline Name</th>
				<th>Flight Number</th>
				<th>From</th>
				<th>To</th>
				<th>Departure Time</th>
				<th>Arrival Time</th>
				<th>Action</th>
			
			{% for flight in myPastFlights %}
				<tr>
					<td>{{flight['name']}}</td>
					<td>{{flight['num']}}</td>
					<td>{{flight['departureAirport']}}</td>
					<td>{{flight['arrivalAirport']}}</td>
					<td>{{flight['depTime']}}</td>
					<td>{{flight['arrTime']}}</td>
					<td>
						{% if admin %}
							<form action="/reviews" method="POST">
								<input name="num" type="hidden" value="{{flight['num']}}"></input>
								<p class = "center-aligned-button"><button type="submit" name = "depTime" value ="{{flight['depTime']}}">See Reviews</button></p>
							</form>
						{% elif username %}
							<form action="/reviewTicket" method="POST">
								<p class = "center-aligned-button"><button type="submit" name = "ticket_id" value = "{{flight['ticket_id']}}">Review</button></p>
							</form>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
		{% endif %}


		{% if admin %}
		<div class = "flight-search">
			<h2>Frequent Fliers</h2>
			<table>
				<th>Customer Name</th>
				<th># of Flights</th>
				<th>Other Flights</th>
			
			{% for fliers in frequentFliers %}
				<tr>
					<td>{{fliers['customer_lastname']}}, {{fliers['customer_firstname']}}</td>
					<td>{{fliers['flight_amt']}}</td>
					<td>
						<form action="/frequency" method="POST">
							<input name="first" type="hidden" value="{{fliers['customer_firstname']}}"></input>
							<p class = "center-aligned-button"><button type="submit" name = "last" value ="{{fliers['customer_lastname']}}">See More Flights</button></p>
						</form>
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
		{% endif %}
	</main>
</body></br>

</html>