
<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/style.css"/>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>FlaskFlights</title>
</head>
<body>
    <nav>
		<h1 class = "navigator-header">FlaskFlights</h2>
		<div class = "login">
		<a class = "login" href="/">HOME</a>
		</div>
	</nav>
    <main>
        <div class = "input-form-elements">
            <h2>Schedule airplane maintanence: </h2>
            <form action="/maintenanceForm" method="POST">
                <input type="datetime-local" name = "start" placeholder = "Start Date & Time" required/> </br>
                <input type="datetime-local" name = "end" placeholder = "End Date & Time" required/> </br>
                <input type="number" name = "id" placeholder = "Airplane ID" required/> </br>
                <input type="submit" value = Submit />
            </form>

            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
                {% for time in maintenance %}
                    <tr>
                        <td> Maintenance ID  :  {{time['maintenance_id']}} </td>
                        <td> {{time['start_date']}}  to  {{time['end_date']}}</td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if noID %}
                <p class="error"><strong>Error:</strong> {{noID}}</p>
                <table>
                    {% for ids in maintenance %}
                        <tr>
                            <td> {{ids['airplane_id']}} </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if success %}
                <h2>You've succesfully booked maintenance for the following: </h2>
                <td>Airplane: {{maintenance['id']}} : {{maintenance['start_date']}}  to  {{maintenance['end_date']}}</td>
            {% endif %}
        </div>
    </main>
</body>