
<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/style.css"/>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>FlaskFlights</title>
</head>
<body>
    <h2>REGISTER</h2>
    <a href="/">Home</a>
    <figure class="table">
        <table>
            <tbody>
                <tr>
                    <td>CUSTOMER</td>
                    <td>EMPLOYEE</td>
                </tr>
                <tr>
                    <td>
                        <form action="/customerRegisterAuth" method="POST">
                            <input type="email" name = "email" placeholder="email" required/> </br>
                            <input type="password" name = "password" placeholder="password" required/></br>
                            <input type="password" name = "confirmpassword" placeholder="confirm password" required/></br>
                            <input type="submit" value = Register />
                            {% if error %}
                                <p class="error"><strong>Error:</strong> {{error}}</p>
                            {% endif %}
                        </form>
                    </td>
                    <td>
                        <form action="/employeeRegisterAuth" method="POST">
                            <input type="email" name = "email" placeholder="email" required/> </br>
                            <input type="password" name = "password" placeholder="password" required/></br>
                            <input type="password" name = "confirmpassword" placeholder="confirm password" required/></br>
                            <input type="submit" value = Login />
                            {% if error %}
                                <p class="error"><strong>Error:</strong> {{error}}</p>
                            {% endif %}
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </figure>
</body>