
<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/style.css"/>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>FlaskFlights</title>
</head>
<body>
    <nav>
		<h1 class = "navigator-header">FlaskFlights</h2>
		<div class = "login">
		<a class = "login" href="/">HOME</a>
		</div>
	</nav>
    <main>
        <div class = "search-results">
            <h2>The average rating for this flight was {{avg}} out of 10!</h2>
            <h2>Here are the reviews for Flight #{{num}} from {{depArr['departureAirport']}} to {{depArr['arrivalAirport']}} which departed on {{departure}} :</h2>
            <table>
                <th>Email</th>
                <th>Rating</th>
                <th>Comment</th>
                {% for review in flights %}
                <tr>
                    <td>{{review['customer_email']}}</td>
                    <td>{{review['rating']}} out of 10</td>
                    <td>{{review['comment']}}</td>
                </tr>
                {% endfor %}
        </div>
    </main>
</body>