<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/style.css"/>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>FlaskFlights</title>
</head>

<body>
	<nav>
		<h1 class = "navigator-header">FlaskFlights</h2>
		<div class = "login">
		<a class = "login" href="/">HOME</a>
		</div>
	</nav>
    <main>
        <div class = 'input-form-elements'>
            <h2>PURCHASE TICKET NOW</h2>
            <p>{{flightInfo['name']}}</p>
            <table>
                <th>Airline Name</th>
                <th>Flight Number</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Seats Remaining</th>
                {% for flight in flightInfo %}
                    <tr>
                        <td>{{flight['name']}}</td>
                        <td>{{flight['num']}}</td>
                        <td>{{flight['depTime']}}</td>
                        <td>{{flight['arrTime']}}</td>
                        <td>{{seatsLeft}}</td>
                    </tr>
                {% endfor %}
            </table></br>

            <form action="/confirmPurchaseTicket" method="POST">
                <input type="text" name = "firstname" placeholder="First Name" required/> </br>
                <input type="text" name = "lastname" placeholder="Last Name" required/> </br>
                <label for="birthday">Customer Date of Birth: </label>
                <input type="date" name = "birthday" required/> </br>
                <select id="cardtype" name="cardtype">
                    <option value="credit" selected>Credit Card</option>
                    <option value="debit">Debit Card</option>
                </select>
                <h3>Your total price will be: ${{sellPrice}}</h3>
                <input type="text" name = "cardnumber" placeholder="Card Number" required/> </br>
                <input type="text" name = "cardfirstname" placeholder="Cardholder First Name" required/> </br>
                <input type="text" name = "cardlastname" placeholder="Cardholder Last Name" required/> </br>
                <input type="month" name = "cardexpirationdate" placeholder="Expiration Date" required/> </br>
                <input type="submit" value = Purchase /></br>
            </form>
        </div>
    </main>          
</body>