<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/style.css"/>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>FlaskFlights</title>
</head>
<body>
    <nav>
		<h1 class = "navigator-header">FlaskFlights</h2>
		<div class = "login">
		<a class = "login" href="/">HOME</a>
		</div>
	</nav>
    <main>
        </br>
        <h2> ERROR: Unauthorized page access</h2>
    </main>
</body>